@{
    ViewBag.Title = "Documentation";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> Student ID: 28586344 </p>
<p>Unit's Name: Internet Applications Development </p>
<p>Unit Code: FIT5032</p>
<p> Task Number: 8.3 </p>
<p>Tutor: Thej Wedikkara Arachchi</p>
<p>Contact Author: <a href="mailto:sgug0001@student.monash.edu">sgug0001@student.monash.edu</a> </p>
<p>Credit Task Details: <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4154651"> Moodle Link</a> </p>


<br /> <br />

<p>Image References: </p>
<table class="table" id="newsTable">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Author
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/Content/Images/News.jpg" width="50" height="50" />
            </td>
            <td>
                <a href="http://www.abc.net.au/news/2009-08-06/front-page-of-the-australian-newspaper/2749586">
                    ABC NEWS
                </a>
            </td>
        </tr>
    </tbody>
</table>
