@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>News Portal</h1>
    <p class="lead">5032 is the fastest source of information.</p>
    <p>
        >@Html.ActionLink("Learn More about us", "About", "Home")
    </p>

    <p>
        >@Html.ActionLink("Click here to see all journalists", "Index", "AspNetUsers")
    </p>

</div>

